<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<head>
    <style>
        body {
            background-color: lightpink;
        }
        * {
            font-family: "Comic Sans MS";
        }
    </style>
</head>
<body>
    Użytkownik zalogowany.
    <form method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Wyloguj</button>
    </form>
</body>
</html>
