<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<br>
<tr id="orderDto" th:name="orderDto" th:object="${orderDto}">

    <span>zamówienie : </span>
    <td th:text="${orderDto.id}"/>
    <td th:text="${orderDto.status}"/>
</tr>
<br>
<br>
<h2>kupiłeś : </h2>
<div th:if="!${basket}">
    <tr th:id="itemDto" th:name="itemDto" th:object="${itemDto}">

        <td th:text="${itemDto.getId()}"/>
        <td th:text="${itemDto.getName()}"/>
        <td th:text="${itemDto.getDescription()}"/>
        <td th:text="${itemDto.getPrice()}"/>
        <td th:text="${itemDto.getCategory()}"/>
        <td th:text="${itemDto.getPhotoUrl()}"/>


    </tr>
</div>
<th:block th:if="${basket}" th:each="item:${items}">
    <br>
    <tr>
        <td th:text="${item.id}"/>
        <td th:text="${item.name}"/>
        <td th:text="${item.description}"/>
        <td th:text="${item.price}"/>
        <td th:text="${item.category}"/>
        <td th:text="${item.photoUrl}"/>
    </tr>
    <br>

</th:block>
<br>
<button>Zapłać</button>
</body>
</html>
